<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body >


<div ng-app="myApp" ng-controller="myCtrl">

    <p>The list of names:</p>
    <ul>
        <li ng-repeat="x in names">
            {{ x }}
        </li>
    </ul>

<p>Search Name: <input type="text" ng-model='searchName'/> </p> 

<p>The list of filtered names:</p>
<ul>
    <li ng-repeat="x in names | filter:searchName">
        {{ x }}
    </li>
</ul>

</div>

<script>
var app = angular.module('myApp', []).controller('myCtrl', function($scope) {
    $scope.names = ['Haris', 'Wasif','Hassan','Bilal','Ghaus'];
});
</script>

</body>
</html>
